body {
    font-family: 'Merriweather', serif;
    text-rendering: optimizeLegibility;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 14%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    text-align: center;
}

nav {
    z-index: 2;
}

#main_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;

    /*background-color: hsl(0, 0%, 9%);
    color: hsl(255, 100%, 100%);
    border-bottom-color: hsl(0, 0%, 16%);
    opacity: 0.85;*/
    z-index: 10;

    list-style-type: none;
    text-align: center;
}

#main_header ul {
    padding: 0;
}

#main_header li {
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
}

#main_header li > a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    opacity: 0.7;
    margin: 1rem 1rem;
    padding: 0 1rem;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#main_header li :hover {
    opacity: 1;
}

/* Header Styling for mobile devices */
@media (max-width: 768px) {
    #main_header li {
        padding-right: 1%;
        padding-left: 1%;
    }

    #main_header li > a {
        font-size: 1rem;
        margin: 0.5rem 0.5rem;
    }
}

#title_pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 1;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
    -webkit-transition: opacity 10s ease;
    transition: opacity 8s;
    z-index: 1;
}

#title_body {
    padding-top: 5%;
    background-image: url("../img/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    z-index: 0;
}

#title_text {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2 !important;
    -webkit-animation-delay: 3.5s;
}

#sign {
    margin-top: 5%;
}

/* Title for mobile devices */
@media (max-width: 768px) {
    #title_text {
        padding-top: 15%;
    }

    #title_text h1 {
        font-size: 24px;
    }
}